* {
  font-family: Sen;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}

.content {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgb(238, 238, 238) 100%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: Sen;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: left;
  margin: 0;
}

h1 {
  font-family: Sen;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
}

h3 {
  font-family: Sen;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  text-align: left;
}

h4 {
  font-family: Sen;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

h6 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

h5 {
  font-family: Sen;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.container {
  max-width: 1280px;
  outline: 1p solid red;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding-top: 28px;
  padding-bottom: 28px;
  background: #232536;
}
.headerLeft {
  margin-left: 83px;
  color: #FFFFFF;
  margin-top: 30;
}
.headerRight {
  display: flex;
}
.headerNav {
  margin-left: 24px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  transition: 0.5s;
}
.headerNav:hover {
  transform: scale(1.2);
}
.headerLi {
  display: flex;
  align-items: center;
}

.butSub {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 48px;
  gap: 12px;
  width: 179px;
  height: 56px;
  margin: 0 128px 0 32px;
  background: #FFFFFF;
}
.butSubText {
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.banner {
  height: 720px;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(img/banner.png);
}
.bannerText {
  width: 810px;
  margin-left: 81px;
}
.bannerTextStr {
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  color: #FFFFFF;
}
.bannerTextOne {
  margin-top: 128px;
  color: #FFFFFF;
}
.bannerTextTwo {
  margin-top: 28px;
  color: #FFFFFF;
}
.bannerTextThree {
  margin-top: 24px;
  color: #FFFFFF;
}
.bannerTextFour {
  margin: 16px 0 48px 0;
  color: #FFFFFF;
}
.bannerTextName {
  color: #FFD050;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 204px;
  height: 56px;
  left: 80px;
  top: 552px;
  border-color: rgba(62, 62, 68, 0);
  background: #FFD050;
  transition: background 0.5s ease;
}
.btn:hover {
  background: #e7b017;
}
.btnText {
  font-family: Sen;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.posts {
  margin-top: 128px;
}

.featuredPost {
  width: 680px;
}
.featuredPostTitle {
  margin-bottom: 64px;
}
.featuredPostAuthor {
  margin: 32px 0 16px 0;
}
.featuredPostText {
  margin-bottom: 32px;
}

.labelOne {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: Purple;
}

.allPosts {
  width: 517px;
  height: 100%;
}
.allPostsHead {
  height: 48px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}

.postCard {
  padding-top: 32px;
}
.postCard:first-child {
  padding: 0;
}

.bar {
  margin-top: 130px;
}
.barWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.barFrst {
  width: 843px;
  height: 23px;
  background: #FFD050;
}
.barScnd {
  width: 282px;
  height: 23px;
  background: #592EA9;
}

.pageInfo {
  margin-top: 98px;
}
.pageTitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
}
.pageA {
  margin-top: 16px;
}

.ourMision {
  margin-left: 82px;
  margin-top: -70px;
}

.cat {
  margin-top: 128px;
  margin-bottom: 128px;
}
.catMarg {
  margin-bottom: 48px;
}

.tab {
  width: 296px;
  background: #f8f8f8;
  padding-left: 32px;
  border: 1px solid #d8d8d8;
  margin-left: 32px;
}
.tab:first-child {
  margin-left: 0;
}
.tabIcon {
  margin: 44px 0 16px 0;
  background: #FFFFFF;
  border-radius: 20px;
}
.tabName {
  margin-bottom: 4px;
}
.tabText {
  margin-bottom: 32px;
}
.tabShattle {
  border-radius: 20px;
}
.tab:hover {
  transition: background 0.6s ease;
  background: #FFD050;
  transform: scale(1.01);
}

.aboutPos {
  position: relative;
}
.aboutContent {
  position: absolute;
  height: 585px;
  width: 705px;
  background-color: #fcf2f2;
  right: -330px;
  top: 120px;
  padding: 0 0 0 80px;
}
.aboutPreview {
  position: relative;
}
.aboutTitle {
  margin-bottom: 24px;
}
.aboutBtn {
  font-size: 16px;
}

.pTitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 3px;
  text-align: left;
  margin: 80px 0 24px 0;
}

.pText {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 32px;
}

.authlist {
  margin-top: 128px;
}
.authlistCard {
  height: 324px;
  width: 296px;
}
.authlistPhoto {
  margin: 40px 84px 20px 84px;
}
.authlistSocial {
  margin: 20px 0 40px 0;
  gap: 1rem;
}/*# sourceMappingURL=index.css.map */